.centertext {
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 40px;
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn:hover {
  background-color: RoyalBlue;
}
.changelog {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Default styles for all screen sizes */
body {
  background-color: #191a1d;
  color: #eee; /* light grey */
  margin: 0;
  font-family: Arial, sans-serif;
}

.text img {
  width: 35%;
}

.preview img {
  width: 20%;
}

h1 {
  color: #FF8C00; /* orange yellow */
}

h2 {
  color: #FFA500;
}

a {
  outline: none;
  text-decoration: none;
}

a:visited {
  outline: none;
  text-decoration: none;
}

hr {
  border-color: #333;
  border-style: dashed;
  border-width: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header styles */
.header {
  background-color: #444;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  z-index: 1;
  height: 10vh; 
}

.logo {
  height: 40px;
  width: 40px;
}

.logo img {
  width: auto;
  max-width: 100%;
}

.name {
  font-size: 28px;
  font-family: header, Arial, sans-serif;
  margin: 0;
  text-align: center;
  flex: 1;
}

.menu-btn {
  font-size: 28px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 40px;
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  z-index: 2;
}

.menu.show {
  display: block;
  animation: slide-down 0.5s;
}

.menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
}

.menu a:hover {
  background-color: #555;
}

/* Main content styles */
main {
  margin-top: 15vh;
  /* This is to make sure the content doesn't go behind the header */
}

.post {
  position: relative;
  display: inline;
  font-family: Arial;
}

/* Bottom left text */
.posttext {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 70%;
}
@media screen and (min-width: 800px) {
  .post {
  position: relative;
  display: inline;
  font-family: Arial;
  width: 24%;
  }
  .post img {
  width: 24%; /* Adjust the width as needed */
  display: inline;
  height: auto; /* Adjust the height as needed */
  }
  .post a {
  width: 24%; /* Adjust the width as needed */
  display: inline;
  }
  .center {
  display: block;
  text-align: center;
  width: 35%;
  }

}

@media screen and (max-width: 800px) {
  .post {
  position: relative;
  font-family: Arial;
  width: 100%;
  }
  .post img {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  }
  .post a {
  width: 100%; /* Adjust the width as needed */
  }
  .center {
  display: block;
  text-align: center;
  width: 90%;
  }

}
