body {
  background-color: #191a1d;
}
h1 {
  color: #FF8C00; /* orange yellow */
}

h2 {
  color: #FFA500;
}

p {
  color: #eee; /* light grey */
}


a {
  outline: none;
  text-decoration: none;
}
a:visited {
  outline: none;
  text-decoration: none;
}



/* Default style for all screen sizes */


@font-face {
  font-family: header;
  src: url(header.otf);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/* Media query for desktop */
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  nav li {
    display: block;
    margin: 10px 0;
  }
  
  nav a {
    padding: 0;
  }
}


.header {
  background-color: #444;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  z-index: 1;
  height: 10vh; 
}

.logo {
  height: 40px;
  width: 40px;
}
.logo img {
  width: auto;
  max-width: 100%;
}

.name {
  font-size: 28px;
  font-family: header, Arial, sans-serif;
  margin: 0;
  text-align: center;
  flex: 1;
}

.menu-btn {
  font-size: 28px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 40px;
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  z-index: 2;
}

.menu.show {
  display: block;
  animation: slide-down 0.5s;
}

.menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
}

.menu a:hover {
  background-color: #555;
}


main {
  margin-top: 15vh;
  /* This is to make sure the content doesn't go behind the header */
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



button {
  background-color: #444;
  border: 1px solid #ccc;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}




/* IMAGGGHEEEEE */
		.row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		
		.col {
			flex-basis: calc(33.33% - 10px);
			margin-bottom: 20px;
			position: relative;
		}
		
		.col img {
			width: 100%;
			height: auto;
		}
		
		.caption {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 10px;
			background-color: rgba(0,0,0,0.5);
			color: #fff;
			font-size: 16px;
			line-height: 1.5;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		
		.col:hover .caption {
			opacity: 1;
		}
		
		/* Styles for mobile */
		@media screen and (max-width: 768px) {
			.row {
				display: block;
			}
			
			.col {
				flex-basis: 100%;
				position: relative;
			}
			
			.col .caption {
				position: static;
				background-color: rgba(0,0,0,0.5);
				color: #fff;
				font-size: 16px;
				line-height: 1.5;
				padding: 10px;
				margin-top: 0px;
				opacity: 1;
			}
		}
