body {
  background-color: #191a1d;
}





body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #444;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 1;
}

.logo {
  height: 40px;
}

.name {
  font-size: 28px;
  margin: 0;
  text-align: center;
  flex: 1;
}

.menu-btn {
  font-size: 28px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 20px;
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  z-index: 2;
}

.menu.show {
  display: block;
  animation: slide-down 0.5s;
}

.menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
}

.menu a:hover {
  background-color: #555;
}

.main {
  margin-top: 100px;
  /* This is to make sure the content doesn't go behind the header */
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
